.menu ul {
    list-style: none;
}

.menu ul li {
    color: #cccccc;
    display: inline;
}

.menu ul li.with-separator:after {
    content: "";
    display: inline-block;
    height: 15px;
    width: 1px;
    vertical-align: text-bottom;
    margin: 0px 10px;
    background: #cccccc;
}

.separator {
    height: 2px;
    width: 100%;
    background-color: #265a88;
    margin: 25px 0px;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: inline-block;
    vertical-align: middle;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa {
    font-size: 18px;
    margin-left: 0;
    left: 10px;
    top: 10px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.fa.fa-search {
    background: url('../images/search_icon.png');
    background-size: 25px 25px;
}

#search {
    width: 450px;
}

.mySubmit {
    border-radius: 0px;
    height: 46px;
}

.category-list {
    text-align: center;
}

.category-filter {
    display: inline-block;
    width: 115px;
    margin-right: 25px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding-top: 10px;
    height: 130px;
    color: #333;
    margin-top: 25px;
}

.category-filter:hover {
    text-decoration: none;
    color: #333;
}

.category-filter:hover {
    background-color: #F0F0F0;
}

.category-filter img {
    height: 48px;
}

.category-name {
    font-weight: bold;
    min-height: 25px;
    padding: 15px;
}

.top-5-faq {
    padding: 3px;
    margin-top: 15px;
    font-size: 14px;
}

.sidebar-title {
    padding: 10px;
    font-size: 18px;
}

.sidebar-content {
    padding: 10px;
}

span.title {
    display: block;
    font-size: 18px;
}

.contact-container {
    padding: 10px;
}

.contact-row {
    margin-bottom: 20px;
    color: #0f0f0f;
    display: block;
    cursor: pointer;
}

.contact-row:hover {
    color: #CCCCCC;
    text-decoration: none;
}

.contact-row div {
    display: inline-block;
    width: 60%;
}

.contact-row img {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

#description {
    min-height: 100px;
}

.to-middle {
    vertical-align: middle;
}

.row.header{
    font-weight: bold;
    padding: 5px;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.left {
    margin-right: 40px;
}

.left, .right {
    display: inline-block;
}

.logout {
    display: inline-block;
}

.bg-danger, .bg-success {
    padding: 15px;
}

.contact-row .to-middle {
    margin-left: 15px;
}

.no-margin-top {
    margin-top: 0px;
}

.search-button input {
    padding: 5px;
    border-radius: 5px;
}

.steps ul {
    margin-top: 15px;
}

.steps ul li {
    cursor: pointer;
    padding: 5px;
    text-decoration: underline;
}

.my-hidden{
    display: none;
}

.steps .separator{
    height: 3px;
    margin: 10px 0px;
}

.question {
    background-color: #F0F0EE;
    padding: 5px;
    font-weight: bold;
}

.buttons {
    margin-top: 15px;
}

.solution {
    background-color: #F0F0EE;
    padding: 2px;
    font-weight: bold;
    font-size: 18px;
}

.green {
    color: #008000;
}

.float-left {
    float: left;
    width: auto;
}

.login-container {
    background-color: #f0f0f0;
    border-radius: 15px;
    min-width: 950px;
    position: absolute;
    top: 50%;
    left: 15%;
}

.login-container .beach-glass{
    height: 330px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 15px;
}

html {
    height: 100%;
    background: linear-gradient(#0b5c93, #FFFFFF);
}

body {
    background: #f6f6f6;
    overflow:hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    /*box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);*/
    border-right: 1px solid #dedede;
}

.sidebar .logo {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 4;
    width: 100%;
    height: 85px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
}

.sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.sidebar .nav li a {
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 10px 15px;
    line-height:30px;
    border-bottom: 1px solid #CCCCCC;
}
/*
.sidebar .nav li a.active{
    background-color: #cccdcd;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
    color: #3c4858;
}
*/
.sidebar .nav li a.active i.fa {
    color: #ec3a29;
}

.sidebar .nav li a:hover:not(.active), .sidebar .nav li a:focus {
    background-color: #f6f6f6;
    color: #0b5c93;
}

.sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
}

section {
    position: absolute;
    width: calc(100% - 260px);
    transition: .33s,cubic-bezier(.685,.0473,.346,1);
    top: 75px;
    overflow: auto;
    bottom: 0;
    left: 260px;
}

section .sectionHeader {
    color: #fff;
    border-bottom: 1px solid #dedede;
    position: fixed;
    top:0px;
    width: 100%
}

section .sectionHeader h1 {
    line-height:70px;
    margin:0px 0px 0px 10px;
}

section .sectionContent{
    margin: 35px 0px 0px 10px;
    position: relative;
}

.panel-default>.panel-heading {
    position: absolute;
    top: -25px;
    left: 30px;
    border-radius: 6px;
    background-image: linear-gradient(#fff, #6b7f9e);
}

.panel-body {
    padding-top: 25px;
}

.row {
    margin-top: 25px;
}

.top-margin-15 {
    margin-top: 15px;
}

ul.news-feed li {
    margin-top: 4px;
}

.jv-job-list {
    color: #999;
    width: 100%;
    margin-bottom: 10px;
}

.jv-job-list td {
    padding: 0.35em 0;
    vertical-align: top;
}

.jv-job-list-name {
    width: 50%;
}

.jv-job-list-location {
    text-align: right;
}